:root {
    --primary-color: #aa0008;
    --secondary-color: #000000;
    --tertiary-color: #ffffff;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: 'Times New Roman', Times, serif;
}

header{
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    border-bottom: 3px solid; 
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    list-style: none;  
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    border-radius: 15px;
}
.hero {
    background-image: url(../images/roses\ .jpg);
    width: 100vw;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    color: var(--tertiary-color);
    padding: 25px; 
}

.intro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 2 2 100px; 
    text-align: center; 
    margin: 20px; 
    height: auto;
}

.intro p {
    padding: 15px;
    margin: 50px; 
    font-size: 20px;
    float: right;
    width: 40%
}

.intro img {
    float: right;
    margin: 0 20px; 
    width: 23%;
    border-radius: 50%;
}

.section-title {
    text-align: right; 
    font-size: 48px;
    border-right: 3px solid; 
    padding: 50px;
    height: 80%; 
    width: 20%
}

.float-right {
    float: right;
}

footer {
    background: var(--secondary-color);
    color: var(--primary-color);
    width: 100%;
    padding: 40px;
    text-align: right;
}